PyYAML~=6.0.1
tqdm~=4.66.1
tabulate~=0.9.0
semseg~=0.4.1
rich~=13.7.0
fvcore~=0.1.5.post20221221
numpy~=1.24.4
matplotlib~=3.7.4
pillow~=10.2.0
einops~=0.7.0
scipy~=1.10.1
setuptools~=68.2.2
opencv-python~=4.9.0.80
torch~=2.1.2
torchvision~=0.16.2
gpxpy~=1.6.2
scikit-image~=0.21.0
geopy~=2.4.1